<%= simple_form_for @user, url: sessions_path, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <div class='form-actions'>
    <%= f.submit '登录', class: 'btn btn-primary' %>
  </div>
<% end %>
