<footer class="container">
  <p class='pull-right'>© <%= link_to t('common.easyread'), 'http://easyread.ly/' %> 2013</p>
  <p class="pull-left horizontal">
  <%= t('common.footer.declaration') %>
  </p>
</footer>
