<h2>Rails Night 宣言</h2>

<hr/>

<div class='well'>
  <p>Rails Night 是简阅独创的一种分享形式，主要是分享 Rails 相关以及其它有意思的东西。目的在于相互学习，共同提高。</p>

  <p>这是一场属于简阅技术宅的盛会</p>
</div>
  <div class='well'>
    <p>分享，是知识传播的地铁</p>
    <p class='col-md-offset-2'>--- 新仔</p>
  </div>
