<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <%- attributes.each do |attribute| -%>
  <div class="form-groups">
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  </div>
  <%- end -%>

  <div class="form-groups">
    <%%= f.button :submit %>
  </div>
<%% end %>
