// Place all the styles related to the ActivityComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment .face img {
  width: 48px;
  height: 48px;
}

.comment {
  border-bottom: 1px solid #DDD;
  padding: 8px 10px;
  margin: 0 -10px;
  background: #FFF;
}

.comment .infos {
  padding-left: 10px;
}

