/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.slider
 *= require jquery-ui-timepicker-addon
 *= require_tree .
 */

body {
  padding-top: 60px;
  position: relative;
}

.main {
  min-height: 500px;
}

.participant-box {
  margin-bottom: 5px;
}

.comment .face img {
  width: 48px;
  height: 48px;
}

.comment {
  border-bottom: 1px solid #DDD;
  padding: 8px 10px;
  margin: 0 -10px;
  background: #FFF;
}

.comment .infos {
  padding-left: 10px;
}
