<div class="create_comment ">
  <h4>发表评论</h4>
  <%= form_for @activity_comment, class: 'new_comment' do |f| %>
    <%= f.hidden_field :activity_id %>
    <%= f.text_area :subject, class: 'span10', rows: '4' %>
    <%= f.submit '提交评论', class: 'btn btn-primary' %>
  <% end -%>
</div>
