亲爱的<%= @user.nickname %>, 您好！

<h3>欢迎参加 Rails-Night !</h3> 

<p>您本次参加的活动为：</p>


<table>
  <tr><th>主题: </th><td><%= @activity.title %></td><tr>
  <tr><th>主讲人: </th><td><%= @activity.author_name %></td></tr>
  <tr><th>活动简介：</th>
      <td>
        <%= markdown @activity.description %>
      </td>
  </tr>
</table>

<br/>
<p>希望您能在这里度过一段愉快的时光!</p>

<hr/>
<p>感谢有你,</p>

<p>Rails-Night 活动组</p>
